@import './utils/variables';
@import './base/typography';
@import './base/reset';
@import './base/style';
@import './layout/navigation';
@import './pages/dashboard';

.categories
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $formBackgroundDark;
    padding-top: 20px;

    h1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $title;
        font-weight: 600;
        font-size: 1.7rem;
        color: $alternateText;
    }
    .categories-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 5px;

        .form{
            width: 20%;
            padding: 10px;

            .input-group{
                display: flex;
                flex-direction: column;
                gap: 7px;
                margin: 8px 0px;

                &.success{
                    input{
                        box-shadow: 0 0 0 1px $formSuccess;
                    }
                    .message{
                        display: block;
                        color: $formSuccess;
                    }
                }
                &.error{
                    input{
                        box-shadow: 0 0 0 1px $formError;
                    }
                    .message{
                        display: block;
                        color: $formError;
                    }
                }
                label{
                    color: $alternateText;
                    font-weight: lighter;
                }
                input{
                    font-size: 1.25rem;
                    padding: .5em;
                    background-color: $formBackgroundLight;
                    border: none;
                    outline: none;
                    border-radius: .25em;
                    color: $alternateText;
                    font-weight: lighter;
    
                    &:focus{box-shadow: 0 0 0 1px $formBorder;}
                }
                .message{
                    font-family: sans-serif;
                    display: none;
                    font-size: .75rem;
                }
            }
            .add-button{
                width: 100%;
                padding: .2em 1em;
                font-size: 1.1rem;
                font-family: $main;
                letter-spacing: 2.3px;
                font-weight: lighter;
                color: $alternateText;
                background-color: $formBackground;
                border: 1px solid $formBorder;
                border-radius: .25em;
                outline: none;
                cursor: pointer;

                &:hover{
                    background-color: $formBackgroundHover;
                }
                &:focus{
                    background-color: $formBackgroundHover;
                }
            }
        }
    }
}