
.home
{
    width: 100%;
    overflow: hidden;
    position: relative;

    .content{
        position: relative;
        padding-top: 80px;

        .name{
            position: relative;
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1{
                font-family: 'Cinzel Decorative', sans-serif;
                font-size: 2.7rem;
                font-weight: 600;

                &.reveal{
                    opacity: 0;
                    transform: translateY(-30px);
                }
                &.reveal-visible{
                    opacity: 1;
                    transform: translateY(0px);
                    transition: 1s all cubic-bezier(.5, 0, 0, 1);
                }
            }
            .logo{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 250px;
                height: 250px;
                transform-origin: 0 0;
                animation: rotation 15s linear infinite;
                opacity: .1;
            }
        }
        img{
            display: block;
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: center;
        }
    }
    @keyframes rotation {
        0%{
            rotate: 0;
        }
        100%{
            rotate: 360deg;
        }
    }
}
.gallery{
    min-height: 75vh;
    
    .button{
        transform: translate(70px, 50px);
    }
    .frame-small{
        position: relative;
        width: 80%;
        height: 30vh;
        background: $alternateBackground;
        transform: translate(-60px, 20px);
        z-index: 2;

        .lines{
            position: absolute;
            inset: 0;
            background: #000;
            overflow: hidden;

            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 600px;
                height: 120px;
                background: linear-gradient(transparent,
                                            $secondaryColor,
                                            $secondaryColor,
                                            $secondaryColor,
                                            transparent);
                animation: border-rotate 4s linear infinite;
            }
            &:after{
                content: '';
                position: absolute;
                inset: 3px;
                background: $alternateBackground;
            }
        }
    }
    .frame-big{
        position: relative;
        width: 70%;
        height: 70vh;
        background: $alternateBackground;
        transform: translate(45%, -30px);
        z-index: 3;

        .lines
        {
            position: absolute;
            inset: 0;
            background: #000;
            overflow: hidden;

            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 600px;
                height: 120px;
                background: linear-gradient(transparent,
                                            $primaryColor,
                                            $primaryColor,
                                            $primaryColor,
                                            transparent);
                animation: border-rotate2 6s linear infinite;
            }
            &:after{
                content: '';
                position: absolute;
                inset: 3px;
                background: $alternateBackground;
            }
        }
    }
    .carousel{
        height: 300px;
        width: 300px;
        translate: 10px -355px;
        z-index: 4;
    }

    @keyframes border-rotate {
        0%{
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100%{
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @keyframes border-rotate2 {
        0%{
            transform: translate(-50%, -50%) rotate(360deg);
        }
        100%{
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}