.gallery .button:hover a
{
    background: var(--clr);
    color: var(--clr)
}

.gallery .button:hover a i::before
{
    width: 20px;
    left: 20%;
}

.gallery .button:hover a i::after
{
    width: 20px;
    left: 80%;
}